<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://git.cafebazaar.ir/divar/divar-clients/ios/divar/-/jobs/1234/artifacts/raw/Divar.ipa/دیوار.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://git.cafebazaar.ir/divar/divar-clients/ios/divar/-/raw/development/Divar/Resources/Assets.xcassets/AppIcon.appiconset/100.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://git.cafebazaar.ir/divar/divar-clients/ios/divar/-/raw/development/Divar/Resources/Assets.xcassets/AppIcon.appiconset/100.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.Divar.DivarClient</string>
				<key>bundle-version</key>
				<string>8.1.0-rc</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Divar</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

